strong{
    color: white;
}
  
  button {
      width: 10%;
      padding: 12px 20px;
      margin: 8px 0;
      background-color:  rgb(97, 218, 251);
      color: white;
      margin-left: 70px;
      border-radius: 10px;
      box-sizing: border-box;
      
  }